.botao {
    color: white;
    background: #00c8b3;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    width: 180px;
    height: 30px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.botao:hover {
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
}
.bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    padding-bottom: 20px;
}
.bloco-central {
    width: 173px;
    max-width: 100%;
    position: relative;
    padding-top: 100px;
    margin-bottom: 20px;
    z-index: 0;
}
.form-field {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
}
textarea:focus, input:focus, select:focus {
    outline: 0;
}
